# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Python egg / distribution files
*.egg
*.egg-info/
dist/
build/

# Backup files
*.bak
*.swp

.env